
body {
    font-family: Arial, sans-serif;
    background-color: #3388febf;
    color: #382794;
    margin: 0;
    padding: 0;
}


ol,ul{
    color: #873512;
    margin-top: 2rem;
}

p {
    color: #fff;
}


.container {
    max-width: 800px;
    margin: 2rem auto;
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

a {
    color: #075e08;
    text-decoration: none;
    border: 2px solid #000000;
}

#katana {
    border: 4px solid #000000;
    border-radius: 200px;
   opacity: 0.5;
}