.container {
    display: grid ;
    grid-template-rows: 150px 150px 150px 150px ;
    grid-template-columns: 100px 100px 100px 100px;
    background-color: lightgray;
    background-size: contain;
    border: solid black;
}

.head {
    grid-row: 1/1;
    grid-column: 1/7;
    border: solid rgb(0, 0, 0);
    border-width: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
} 

.asid {
    border: solid rgb(0, 0, 0);
    border-width: 5px;
    grid-row: 2/4 ;
    grid-column: 1/3 ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    animation-name: changeColor;
    animation-duration: 4s;
    animation-delay: 2s;
    
}

.con1 {
     border: solid rgb(0, 0, 0);
    border-width: 5px;
    grid-row: 2/ 2;
    grid-column: 3/7 ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
    
}

.con3 {
    grid-row: 3/4 ;
    grid-column: 6/7;
    border: solid rgb(0, 0, 0);
    border-width: 5px;display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}

.con2 {
 border: solid rgb(0, 0, 0);
    border-width: 5px;
    grid-column: 3/6;
    grid-row: 3/4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    

}

@keyframes changeColor{
    from { background-color: lightcoral;}
    to {background-color: aquamarine;}
}

.foot {
    border: solid rgb(0, 0, 0);
    border-width: 5px;
    grid-row: 4/5;
    grid-column: 1/7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}

.head > p {
    transform: translate(50px, -20px);
    
}

.foot > p {
    transform: rotate(60deg);
    
}

p {
    transition: opacity 500ms;
    color: red;
    font-size: 30px;
}


p:hover {
    opacity: 0;
    filter: invert(100%);
}



h2 {
    font-size: 21px;
}

h1 {
    color: pink;
}

h1:hover {

    filter: grayscale(100%);
}
